*{
    box-sizing:border-box
}

html {
    font-size: 100%;
}
/*Smartphone*/

body{
    /*Formatação geral do corpo do site*/

    background-color:#CCCCCC;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,Arial,Helvetica,sans-serif;
    margin: 15px;
    max-width:100%;
    border:solid;
    border-color:#FFFFFF;
    font-size:100%;
}
/*Criado por mim - w3school | Linha verde para o Menu lateral*/
/*botao para o para o Menu index*/
    .return{
        /*background-color:darkgreen;*/
        color:darkgreen;
        padding: 8px;
        border-radius:5px;
        display: flex;
        text-align: center;
        margin: 0 auto;
        width: 15%;
        border-bottom: 3px solid transparent;
        
        

    }
    hr {
        border: 2px solid darkgreen;
        text-align: left;
    }

    .a {
        position: absolute;
        box-sizing: content-box;
        background-color: #444343;
        color: #CCCCCC;
        padding: 5% 13%;
        border: 1px solid darkgreen;
        margin: 0px;
    }

   /* .formata img pelagem {
    display: block;
    position: absolute;
    margin-left: 220px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom:30px;
}*/
    .center {
        /* centra um elemento html */
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .right {
        display: block;
        margin-left:200px;
        padding-right: 50px;
        margin-right: 100px;
        margin-top: -41%; /*-41%;*/
        width:50%;
        height: 50%;
    }
    
   /* .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }*/

    .fontform {
        text-align:right;
        font-size:small;
    }

    .table {
        border: 5px solid darkgreen;
        border-collapse: collapse;
        text-align: center;
        width: 100%;
        
    }

    .td {
        border: 3px solid darkgreen;
        text-align: center;
        width: auto;
        height: 200px;
    }

    .th {
        background-color: darkgreen;
        
    }
   
        .coluna {
         float: left;
          width: 33.33%;
        }
        .row::after {
             content: "";
        clear: both;
        display: table;
        }

        .home{
            background-color:"darkgreen";
            color:white;
            padding: 5px;
            border-radius:5px;
            font-size: 16px;
            text-decoration: none;
            display: -webkit-flex;
            text-align: center;
            
        }
        

    .img_cor {
        size: auto;
        margin-top: -0px;
        margin-bottom: 15px;
        padding-right: 12px;
        width: 250px;
        height: 180px;
    }
    .img_tab {
        size: auto;
        width: 250px;
        height: 180px;
    }
/* fim das alterações -inicio prof.*/

header {
    padding-top: 16px; /*acrescentado por mim - largura da barra de cabeçalho - w3 - 20px*/
    padding-bottom: 8px;
    background-color:darkgreen;
    display:block;
    color:white;
    text-align:center;
    /*position:sticky;/* acrescentado por mim Cabeçalho em 1 plano, flexivel e variavel e fixa*/
    Top:0;
    Width:100%;
    z-index: 9999;
        }
    /*Formatação do Cabeçaho - geral*/

    h1 { /*Formatação Titulo 1 - cabeçalho */
        color: white; /*acrescentado por mim - cor do txt do cabeçalho - w3*/
        font-size: 2rem;
        margin: 0px;
    }
        

    h2 { /*Formatação Titulo 2  - menus*/
        
        font-size: 1.5rem;
        margin: 2px; /*alterado de 0px=2px */
        text-align:center;
        color: darkgreen;
        /*Formatação Titulo 2 */
        }
      
        
    h3 {  /*Formatação Titulo 3 */
        
        font-size: 1rem;
        margin: 0px;
        text-align:center;
        color: darkgreen;
        }

     header h2 { /*Formatação Cabeçalho 2 */

            margin: 0px;
        }
            
        h4 { /*h4 utlizado na barra em diagonal DPIE - UC Linguagens Digitais*/
           
            color: darkgreen;
            background-color: #ffffff;
            box-shadow: 1px 1px 5px #888888; /*alterado de: 2px 2px 20px*/
            transform: rotate(-45deg);
            position: absolute;
            padding: 0px 150px; /*alterado de 0px 30px*/
            top: 50px; /*alterado de 30px*/
            left: -150px; /*alterado de -40px*/
            text-align:center;
            font-size:0.6rem;
            display:none;
            /*opacity: 0.5;*/
            
            }
    


                .col-1 {width: 8.33%;}
                .col-2 {width: 16.66%;}
                .col-3 {width: 25%;}
                .col-4 {width: 33.33%;}
                .col-5 {width: 41.66%;}
                .col-6 {width: 50%;}
                .col-7 {width: 58.33%;}
                .col-8 {width: 66.66%;}
                .col-9 {width: 75%;}
                .col-10 {width: 83.33%;}
                .col-11 {width: 91.66%;}
                .col-12 {width: 100%;}

         [class*="col-"] {
                    
                    width:100%;
                    }



         nav {  /*Linha quando visita - links*/  
         
            display:block;
            width:100%; /* altura =0 e height=0 largura=width?100%*/
        }

        nav a:link, nav a:visited { /* navegação clica num link*/
        
            display: block;
            border-bottom: 0px solid #888888; /* alterado de 3px solid #fffff*/
            padding: 10px;
            text-decoration: none;
            font-weight: bold;
            margin: 5px;
            color:#006400;
        }

        nav a:hover {  /* navegação com o rato*/
               
            color: darkgreen;
            /*background-color: white;*/
        }
                    

     section { /* Caixas de conteudo*/

            display:block;
            width:100%;
            background-color: white;
            margin: 0px; /*alterado de 0px*/
            padding: 5px; /*alterado de 0px*/
            border-radius: 12px; /*12px; alterado de 10px*/
            box-shadow: 2px 2px 20px rgb(96, 94, 94);
                    
             }

         section h2 { /*caixa dos titulos das box de conteudo*/
                    
                border-radius: 10px; /* curvatura dos cantos*/
                padding: 10px; /* Largura das caixas de titulo*/
                font-size: 1rem;
                    
                }

         section p { /* secção de paragrafo para as box de conteudo*/
                    
                    font-size: 0.9rem;
                    padding: 15px;
                    margin-left: 15px;
                    
                }

aside { /* Informação complementar não relevanto do lado dto da pagina. Ex: pub*/
    display:none;
    width: 20%;
    float:left;
    margin-left: 15px;

}

     aside h3 { /*Titulo do aside*/
        border-radius: 5px;
        padding: 5px;
        margin: 5px; /*alterado de 15px*/
        color: black;

    }

     aside p { /* paragrafo do aside/* poema do Manuel Alegre*/

        
         margin: 5px; /*alterado de 15px*/
         color: #111111;
         font-weight: normal; /*alterado de Bold*/
         font-size: 0.8rem;
         font-style:normal /*alterado de Italico*/
         

    }


#container { /*cor de fundo da área central*/

    background-color: #CCCCCC; 
    
    }
    
footer { /*Rodapé*/
    
    clear: both;
    display: block;
    background-color: darkgreen;
    color:#FFFFFF;
    text-align:center;
    padding: 15px; /*alterado de 15px*/
    
    }
    
    footer h2 { /*titulo do rodape*/
    
    font-size: 0.5rem;
    color: white;
    
    }

img { /* configuração das imagens*/

    max-width: 100%;
    height: auto;
    vertical-align: center; /*inserido por mim para o alinhamento centrado na vertical*/
        
    }
        
iframe { /* configuração do video*/
        
    max-width: 100%;
    height: 500px; /* alterado de: auto*/
    width: 853px; /* Inseri altura*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;

    }

.mySlides { /*Slideshow - javascript*/
    display:none;
    text-align: center;
    }

    .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    display: none; /*block; faz desaparecer e aparecer em de acordo com os dispositivos  */
    }

    .dot {
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: white;
        border-radius: 50%; /* border-radius 50% indica que é circulo*/
        display: inline-block;
        transition: background-color .5s ease; /* alterado de .5s ease;*/
        }

        .dotpoints {
            text-align: center;
            position: absolute;
            
            bottom: 10%;
            left: 45%;
        }

        .active {
            background-color: #717171;
        }

        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;

            animation-name: fade;
            animation-duration: 1.5s;
        }
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
 /*terminada a configuração do slideshow*/

/*por defeito devemos fazer para Tlm por ser num ecran menor*/

 /* menu hamburger*/
        #tabletPC{
            display:none;
        }
            svg {
              width: 30px;
            }

        #menu_icon {
            display: block;
            cursor: pointer;
            padding: 3px;
            border-radius: 5px;
            position: absolute;
            left: 25px;
            z-index: 1000;
            background-color: #343333;
            
            }

        #drawer { /*box dos menus para mobile*/
            display: flex;
            background-color: #dad5d5;
            height: 43%; /*alterado de 100%*/
            width: 55%; /*alterado de 60%*/
            margin-left: -100px;
            position: absolute;
            transition: all 0.2s linear;
            transform: translateX(-100%);/*ocultação do menu ham aberto*/
            top: 10.2%; /* alterado de : 0px*/
            border-radius: 15px;
            opacity: 0.95;
           /* z-index: 99999;*/
            
            text-align: left; /*adicionado por mim w3school*/
            padding: 0px 25px; /*adicionado por mim w3school*/
        }

        #drawer.open {
                transform: translateX(25%);
        }

/*tablet - leitura dos media*/

@media only screen and (min-width: 768px){

        #menu_icon {
        display: none;
        }

        #drawer {
        display: none;
        }

        #tabletPC {
        display: block;
        }

        .col-3 {
        width: 25%; /* alterado de: 25%*/
        float:left;
        }
     
        .col-9 {
        width: 75%;  /* alterado de: 75% - cristina: w=25%; float: left*/
        float: left;
        padding: 1px;  /* alterado de: 15px*/
        }
        h4{display:block;}

        .column {
            width: 100%;
          }

}   

/*PC - leitura dos media*/
@media only screen and (min-width: 900px){
    aside{
        display: block;
    }
    .col-2{
        width: 16.66%;
        float: left;  /* alterado de: left*/

        /*margin-right: 35px; /* Adicionada por mim w3school*/
    }
    #container {
        width: 57% /*64.59% | base do Prof: 58,33%;*/
    }
    .slideshow-container {  /* Colocar propriedade para visualizar o slideshow- display: block */ 
        display: block;       
    }
}